<div class="row mb-2 sent-by-me">
    <div class="col-12">
        <div class="p-2 rounded conversation-message" style="float: right;">
            <%= simple_format message.body %>
    </div>
</div>
</div>