.logo-navbar{
    max-height: 50px;
    margin-left: 20px;
}

//dodajanje css s templata za postavotev dveh glavnih boxov(join the best dating app! in Sign Up Today) na sredino enkrana
.row-cols-md-3
{
    width: 33.3333333333%;
}

.row-cols-1
{
    width: 100%;
}

.col {
    flex: 1 0 0%;
}