.match-tile{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 135px;
    height: 135px;
    cursor: pointer;
    position: relative;
    margin: 10px;
    border-radius: 10%;

    p{
        position: absolute;
        bottom: 15px;
        left: 15px;
        margin: 0;
        font-weight: bold;
    }
}

.open-conversation{
    background: #efefef;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    cursor: pointer;
}

#conversation{
    display: none;
    width: 65%;
    //height: 96%;
    position: absolute;
    //left: 2%;
    top: 2%;
    padding: 30px;
    z-index: 1000;
    background-color:  #fff;

    .top-bar{
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    .bottom-bar{
        border-top: 1px solid #ddd;
        padding-top: 40px;
        margin-top: 30px;
    }

    .top-bar-circle{
        float: left;
        margin-right: 3px;
    }

    .conversation-message{
        background-color: #f2f2f2;
        
        p{
            margin: 0;
        }
    }

    .sent-by-me{
        .conversation-message{
            background: #b3d7ff;
        }
    }

    #close-conversation{
        float: right;
        cursor: pointer;

        &:hover{
            color: #000 !important;
        }
    }
}