<% if @conversation.any? %>
    <% @conversation.each do |conversation| current_account = get_account_from_conversations(conversation) %>
    <div class="row">
        <div class="col open-conversation" data-id="<%= current_account.id %>">
            <%= profile_thumbnail current_account %>

            <strong><%= current_account.first_name%></strong>
            <%= simple_format conversation.messages.last.body %>
        </div>
    </div>
    <% end %>
    <% else %>
        <p> No messages to display. </p>
<% end %>


